<h1 class="">
  List of all directors
</h1>

<hr>

<form action="/insert_director" method="post" class="mx-auto" style="width: 80%">
<div>
  <label for="the_name" class="form-label">Name</label>
  <input type="text" name="the_name" id="the_name" class="form-control">
</div>

<div>
  <label for="the_dob" class="form-label">Dob</label>
  <input type="date" name="the_dob" id="the_dob" class="form-control">
</div>

<div>
  <div>
  <label for="the_bio" class="form-label mt-2">Bio</label>

  </div>
  <textarea type="text" name="the_bio" id="the_bio" rows="3"></textarea>
</div>

<div>
  <label for="the_image" class="form-label">Image</label>
  <input type="text" name="the_image" id="the_image" class="form-control">
</div>

<button type="submit" class="btn btn-primary mt-4">Create director</button>

</form>
<hr class="mx-4 py-4">

<table border="1" class="table table-striped table-responsive mx-auto" style="width:90%">

  <tr>
    <th scope="col">
      ID
    </th>

    <th scope="col">
      Image
    </th>

    <th scope="col">
      Name
    </th>

    <th scope="col">
      Dob
    </th>

    <th scope="col">
    </th>
  </tr>

  <% @list_of_directors.each do |director| %>
  <tr>
    <td scope="row">
      <%= director.id %>
    </td>

    <td>
      <img src="<%= director.image %>" style="width:200px;">
    </td>

    <td>
      <%= director.name %>
    </td>

    <td>
      <%= director.dob %>
    </td>

    <td>
      <a href="/directors/<%= director.id %>" class="btn btn-primary" >
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
